<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - KMITL ADMISSION</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap1.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/css/Footer-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
</head>

<body style="background:linear-gradient(rgba(80, 53, 43, 0.65), rgba(80, 53, 43, 0.65)), url('static/img/wood.jpeg');">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href='/'>KMITL DORMITORY</a><button
                data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right"
                type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i
                    class="fa fa-align-justify"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">SITE</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">FIND MORE</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h1 class="text-center text-white d-none d-lg-block site-heading"><span
            class="text-primary site-heading-upper mb-3">king mongkut's university of technology
            ladkrabang&nbsp;</span><span class="site-heading-lower">Dormitory Prediction</span></h1>
    {%if data == 0%}

    <section class="page-section clearfix">
        <div class="container">
            <div class="intro"><img class="img-fluid intro-img mb-3 mb-lg-0 rounded" src="static/img/fullsize/8.jpg">
                <div class="intro-text left-0 text-centerfaded p-5 rounded bg-faded text-center">
                    <h2 class="section-heading mb-4"><span class="section-heading-upper">หอพักในโซน</span><span
                            class="section-heading-lower" style="font-family: 'Open Sans', sans-serif;">FBT</span></h2>
                    <p class="mb-3">อยู่ใกล้คณะเทคโนโลยีการเกษตร และคณะอุตสาหกรรมอาหารเป็นพิเศษ หอพักส่วนใหญ่อยู่ติด Tops market และ 7-Eleven และอยู่ใกล้ตลาดนัดสุวรรณภูมิ มีที่จอดรถเยอะ</p>
                    <div class="mx-auto intro-button"><a class="btn btn-primary d-inline-block mx-auto btn-xl"
                            role="button" href="#" style="font-family: 'Kanit', sans-serif;">ค้นหาเพิ่มเติม!</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner text-center rounded">
                        <h2 class="section-heading mb-4"><span class="section-heading-upper">Find out!</span><span
                                class="section-heading-lower">Google maps</span></h2>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.9385808983066!2d100.77854065026584!3d13.72216830162954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d67a0e8c57e57%3A0xee437f1251f44917!2zRkJUIE91dGxldCDguKXguLLguJTguIHguKPguLDguJrguLHguIc!5e0!3m2!1sth!2sth!4v1619611909110!5m2!1sth!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {%elif data == 1%}
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro"><img class="img-fluid intro-img mb-3 mb-lg-0 rounded" src="static/img/fullsize/9.jpg">
                <div class="intro-text left-0 text-centerfaded p-5 rounded bg-faded text-center">
                    <h2 class="section-heading mb-4"><span class="section-heading-upper">หอพักในโซน</span><span
                            class="section-heading-lower" style="font-family: 'Kanit', sans-serif;">จินดา</span></h2>
                    <p class="mb-3">อยู่ใกล้จุดบริการขนส่งสาธารณะ (รถตู้) ทำให้สามารถเดินทางออกจากแขวงลาดกระบังได้สะดวก อยู่ใกล้ตลาดนัดสุวรรณภูมิ ผู้อยู่อาศัยส่วนใหญ่เป็นคนวัยทำงาน เช่น พนักงานสนามบิน</p>
                    <div class="mx-auto intro-button"><a class="btn btn-primary d-inline-block mx-auto btn-xl"
                            role="button" href="#" style="font-family: 'Kanit', sans-serif;">ค้นหาเพิ่มเติม!</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner text-center rounded">
                        <h2 class="section-heading mb-4"><span class="section-heading-upper">Find out!</span><span
                                class="section-heading-lower">Google maps</span></h2>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.984857823207!2d100.78156235026584!3d13.719366501693607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d67cc733c1fc3%3A0x5bcc0420c26238b9!2z4LiL4Lit4LiiIOC4peC4suC4lOC4geC4o-C4sOC4muC4seC4hyA1MiDguYHguILguKfguIcg4Lil4Liy4LiU4LiB4Lij4Liw4Lia4Lix4LiHIOC5gOC4guC4leC4peC4suC4lOC4geC4o-C4sOC4muC4seC4hyDguIHguKPguLjguIfguYDguJfguJ7guKHguKvguLLguJnguITguKMgMTA1MjA!5e0!3m2!1sth!2sth!4v1619611820767!5m2!1sth!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {%elif data == 2%}
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro"><img class="img-fluid intro-img mb-3 mb-lg-0 rounded" src="static/img/fullsize/10.jpg">
                <div class="intro-text left-0 text-centerfaded p-5 rounded bg-faded text-center">
                    <h2 class="section-heading mb-4"><span class="section-heading-upper">หอพักในโซน</span><span
                            class="section-heading-lower" style="font-family: 'Kanit', sans-serif;">เกกี</span></h2>
                    <p class="mb-3">หอพักค่อนข้างเก่า แต่ราคาถูกมากสำหรับหอพักห้องพัดลม อยู่ใกล้คณะวิศวกรรมศาสตร์ และคณะสถาปัตยกรรมศาสตร์เป็นพิเศษ สะดวกต่อการเดินทางไปกลับด้วยการเดิน มีศูนย์รวมร้านอาหารเล็กๆอยู่ในโซนหอพัก</p>
                    <div class="mx-auto intro-button"><a class="btn btn-primary d-inline-block mx-auto btn-xl"
                            role="button" href="#" style="font-family: 'Kanit', sans-serif;">ค้นหาเพิ่มเติม!</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner text-center rounded">
                        <h2 class="section-heading mb-4"><span class="section-heading-upper">Find out!</span><span
                                class="section-heading-lower">Google maps</span></h2>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25058.21010704761!2d100.78849109788739!3d13.750817967616102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d6618a5d954a9%3A0x82d5b65667ec61a1!2z4LiZ4Li04LiE4Lih4Lit4Li44LiV4Liq4Liy4Lir4LiB4Lij4Lij4Lih4Lil4Liy4LiU4LiB4Lij4Liw4Lia4Lix4LiH!5e0!3m2!1sth!2sth!4v1619611728828!5m2!1sth!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {%elif data == 3%}
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro"><img class="img-fluid intro-img mb-3 mb-lg-0 rounded" src="static/img/fullsize/11.jpg">
                <div class="intro-text left-0 text-centerfaded p-5 rounded bg-faded text-center">
                    <h2 class="section-heading mb-4"><span class="section-heading-upper">หอพักในโซน</span><span
                            class="section-heading-lower" style="font-family: 'Kanit', sans-serif;">นิคมอุตสหกรรม</span></h2>
                    <p class="mb-3">หอพักค่อนข้างใหม่ มีหอพักที่เป็นคอนโดมิเนียมจะได้ค่าน้ำค่าไฟที่ถูกกว่าหอพักปกติ มีศูนย์การค้า iPace Lifescape Center และ V-food market เป็นแหล่งรวมร้านอาหารมากมาย  แต่อยู่ไกลจากมหาลัย หากไม่มียานพาหนะส่วนตัว สามารถเดินทางไปกลับมหาวิทยาลัยได้ด้วยบริการขนส่งสาธารณะ (รถสองแถว)</p>
                    <div class="mx-auto intro-button"><a class="btn btn-primary d-inline-block mx-auto btn-xl"
                            role="button" href="#" style="font-family: 'Kanit', sans-serif;">ค้นหาเพิ่มเติม!</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner text-center rounded">
                        <h2 class="section-heading mb-4"><span class="section-heading-upper">Find out!</span><span
                                class="section-heading-lower">Google maps</span></h2>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25058.21010704761!2d100.78849109788739!3d13.750817967616102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d6618a5d954a9%3A0x82d5b65667ec61a1!2z4LiZ4Li04LiE4Lih4Lit4Li44LiV4Liq4Liy4Lir4LiB4Lij4Lij4Lih4Lil4Liy4LiU4LiB4Lij4Liw4Lia4Lix4LiH!5e0!3m2!1sth!2sth!4v1619611728828!5m2!1sth!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {%else%}
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro"><img class="img-fluid intro-img mb-3 mb-lg-0 rounded" src="static/img/fullsize/12.jpg">
                <div class="intro-text left-0 text-centerfaded p-5 rounded bg-faded text-center">
                    <h2 class="section-heading mb-4"><span class="section-heading-upper">หอพักในโซน</span><span
                            class="section-heading-lower">RNP</span></h2>
                    <p class="mb-3">หอพักค่อนข้างใหม่ แต่จะอยู่ห่างจากมหาวิทยาลัยมากกว่าโซนเกกีงาม หากไม่มียานพาหนะส่วนตัว ใช้บริการขนส่งสาธารณะ (วินมอร์เตอร์ไซต์) ได้ มีศูนย์รวมร้านอาหารเล็กๆอยู่ในโซนหอพัก</p>
                    <div class="mx-auto intro-button"><a class="btn btn-primary d-inline-block mx-auto btn-xl"
                            role="button" href="#" style="font-family: 'Kanit', sans-serif;">ค้นหาเพิ่มเติม!</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner text-center rounded">
                        <h2 class="section-heading mb-4"><span class="section-heading-upper">Find out!</span><span
                                class="section-heading-lower">Google maps</span></h2>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.8736093461675!2d100.76667740188644!3d13.72610100642495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d66525ebb4cc1%3A0xf0ce4317d1a619de!2zUk5QIFBsYWNlLCDguYHguILguKfguIcg4Lil4Liy4LiU4LiB4Lij4Liw4Lia4Lix4LiHIOC5gOC4guC4leC4peC4suC4lOC4geC4o-C4sOC4muC4seC4hyDguIHguKPguLjguIfguYDguJfguJ7guKHguKvguLLguJnguITguKMgMTA1MjA!5e0!3m2!1sth!2sth!4v1619611607958!5m2!1sth!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {%endif%}
    <section id="portfolio" class="p-0">
        <div class="container-fluid p-0">
            <div class="row no-gutters popup-gallery">
                <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="static/img/fullsize/1.jpg"><img
                            class="img-fluid" src="static/img/thumbnails/1.jpg" />
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"><span>Category</span></div>
                                <div class="project-name"><span style="font-family: 'Kanit', sans-serif;">กิจกรรม ใกล้หอพัก</span></div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="static/img/fullsize/2.jpg"><img
                            class="img-fluid" src="static/img/thumbnails/2.jpg" />
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"><span>Category</span></div>
                                <div class="project-name"><span style="font-family: 'Kanit', sans-serif;">กิจกรรม ใกล้หอพัก</span></div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="static/img/fullsize/3.jpg"><img
                            class="img-fluid" src="static/img/thumbnails/3.jpg" />
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"><span>Category</span></div>
                                <div class="project-name"><span style="font-family: 'Kanit', sans-serif;">กิจกรรม ใกล้หอพัก</span></div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="static/img/fullsize/4.jpg"><img
                            class="img-fluid" src="static/img/thumbnails/4.jpg" />
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"><span>Category</span></div>
                                <div class="project-name"><span style="font-family: 'Kanit', sans-serif;">กิจกรรม ใกล้หอพัก</span></div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="static/img/fullsize/5.jpg"><img
                            class="img-fluid" src="static/img/thumbnails/5.jpg" />
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"><span>Category</span></div>
                                <div class="project-name"><span style="font-family: 'Kanit', sans-serif;">กิจกรรม ใกล้หอพัก</span></div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="static/img/fullsize/6.jpg"><img
                            class="img-fluid" src="static/img/thumbnails/6.jpg" />
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"><span>Category</span></div>
                                <div class="project-name"><span style="font-family: 'Kanit', sans-serif;">กิจกรรม ใกล้หอพัก</span></div>
                            </div>
                        </div>
                    </a></div>
            </div>
        </div>
    </section>
    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">Copyright&nbsp;©&nbsp;KMITL ADMISSION 2020</p>
        </div>
    </footer>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/current-day.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="static/js/creative.js"></script>
</body>
</html>
